*

!.gitignore
!.gitmodules

!env/

!services/
!services/**/
!services/website

!deploy.sh
!docker-compose.sh

!docker-compose.sample.conf
!docker-compose.yml
!docker-compose.traefik.yml

!env.sample

!generate-default-compose-env.sh
!generate-docker-compose-conf.sh
!generate-dot-env.sh

!README.md

!service.base.yml
!service.prod.yml
!service.nginx-proxy.yml
!service.traefik-prod.yml
!service.traefik-test.yml
!config.sample.json
!*.sample
