COMPOSE_FILE=docker-compose.yml:services/deletron3030/service.yml:services/grafana/service.yml:services/influxdb/service.yml:services/isvhsopen/service.yml:services/itlb/service.yml:services/nginx-proxy/service.yml:services/portal/service.yml:services/redirect/service.yml:services/vhs-api/service.yml:services/website/service.yml:docker-compose.override.yml
