COMPOSE_FILE=docker-compose.yml:services/deletron3030/service.base.yml:services/deletron3030/service.prod.yml:services/grafana/service.base.yml:services/grafana/service.prod.yml:services/influxdb/service.base.yml:services/influxdb/service.prod.yml:services/isvhsopen/service.base.yml:services/isvhsopen/service.prod.yml:services/itlb/service.base.yml:services/itlb/service.prod.yml:services/nginx-proxy/service.base.yml:services/nginx-proxy/service.prod.yml:services/nginx-proxy-letsencrypt/service.base.yml:services/nginx-proxy-letsencrypt/service.prod.yml:services/portal/service.base.yml:services/portal/service.prod.yml:services/redirect/service.base.yml:services/redirect/service.prod.yml:services/urlredirector/service.base.yml:services/urlredirector/service.prod.yml:services/vhs-api/service.base.yml:services/vhs-api/service.prod.yml:services/wiki-redirector/service.base.yml:services/wiki-redirector/service.prod.yml:docker-compose.override.yml